<!--<script id="addSubject.html" type="text/ng-template">-->
<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Filter</h1>
        <button ng-click="saveFilter()">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list card stable-bg">
            <div class="item item-body">
                <li class="item item-toggle cardSubTitle">
                    Near me ?
                    <label class="toggle toggle-assertive">
                        <input type="checkbox"  ng-model="myFilter.nearMe">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </div>
        </div>
        <div class="list card stable-bg">
            <div class="item item-body">
                <h2>With who ?</h2>
                <label class="item item-radio">
                    <input type="radio" value="male" ng-model="myFilter.gender" name="group">
                    <div class="item-content">Male</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label> <label class="item item-radio"> <input
                    type="radio"
                    ng-model="myFilter.gender"
                    value="female"
                    name="group">
                <div class="item-content">Female</div>
                <i class="radio-icon ion-checkmark"></i> </label> <label class="item item-radio"> <input type="radio"
                                                                                                         value="both"
                                                                                                         ng-model="myFilter.gender"
                                                                                                         name="group">
                <div class="item-content">Both</div>
                <i class="radio-icon ion-checkmark"></i> </label>
            </div>
        </div>
        <div class="list card stable-bg">
            <div class="item item-body">
                <h2>Interests ?</h2>
                <div class="item item-checkbox" ng-repeat="category in categories">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="myFilter.categories[category._id]">
                    </label>
                    {{category.name}}
                </div>
            </div>
        </div>

        <!--</div>-->
    </ion-content>
</ion-modal-view>
<!--</script>-->