<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Thronester</h1>
            </div>
        </div>
        <div class="padding">
            <button ng-click="fbLogin()" class="buttons-blue button icon-left ion-social-facebook button-full button-calm-900 ink">Facebook</button>
        </div>

    </ion-content>
</ion-view>
