<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url({{userProfile.fbPhotoUrl}});">

                </div>


                <h3><a class="light">{{userProfile.first_name}} {{userProfile.last_name}}</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>

        <h4 class="content padding double-padding-x">Subjects</h4>
        <ion-list class="animate-blinds">
            <ion-item nav-clear menu-close class="item-icon-right " ng-repeat="subject in subjects">
                <h2>{{subject.title}}</h2>
                <p>{{subject.description}}</p>
                <i ng-show="displayDelete"  ng-click="deleteSubject(subject)" class="icon ion-android-cancel muted"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
