<ion-view view-title="Subjects">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item" ng-repeat="subject in subjects">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span ng-click="goToUserProfile(subject.user)" class="avatar" style="background-image: url({{subject.user.fbPhotoUrl}});"></span>
                    <strong>
                        {{subject.title}}
                    </strong>
                    <i ng-click="goToChat(subject)" class="subject-new-message icon pull-right ion-chatbubble-working positive"></i>
                    <p>{{subject.description}}</p>

                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> <span am-time-ago="subject.unix_date" am-preprocess="unix"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
