<ion-view view-title="Subjects">

    <ion-content ng-class="{expanded:isExpanded}" class="">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!--<div class="item card-item" ng-repeat="subject in subjects">-->
            <!--<span ng-click="goToUserProfile(subject.user)" class="avatar" style="background-image: url({{subject.user.fbPhotoUrl}});"></span>-->

        <!--</div>-->
        <div class="item card-item" ng-repeat="subject in subjects">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span ng-click="goToUserProfile(subject.user)" class="avatar" style="background-image: url({{subject.user.fbPhotoUrl}});"></span>
                    <h2 ng-click="goToChat(subject)">
                        {{subject.title}}
                    </h2>
                    <i ng-click="goToChat(subject)" class="subject-new-message icon pull-right ion-chatbubble-working positive"></i>
                    <p ng-click="goToChat(subject)">{{subject.description}}</p>

                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> <span am-time-ago="subject.create_date"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
