/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}







.bar.bar-stable.bar-footer{
    background: #BCDEC6;
}
.send-message-input{
    width: 100%;
    padding: 10px !important;
    border-radius: 5px ;
    margin-left: 10px;
    height: 42px !important;
}



.sender-span {
    background: #B1DABD !important;
    display: inline-block !important;
    color: black !important;
    padding: 10px !important;
    border-radius: 10px !important;
    text-align: left !important;
    max-width: 240px !important;
}
.reciver-span {
    background: #C2CBD4 !important;
    display: inline-block !important;
    color: black !important;
    padding: 10px !important;
    border-radius: 10px !important;
    text-align: right !important;
    max-width: 240px !important;
}
.sender-div{
    direction: ltr;
    padding: 5px 10px;
}
.reciver-div{
    direction: rtl;
    padding: 5px 10px;
}

.popup{
   width: 90% !important;
}
.subject-desciption{
    height: 90px !important;
}

/*changing style*/
.bar{
    background-color: #516FAB !important;
}
.buttons-blue{
    background-color: #1C5896 !important;
}
.messages-btn{
    background-color: #1C5896 !important;
}
.add-subject-btn{
    background-color: #1C5896 !important;
}
.menu .bar.bar-header.expanded{

    background-size: 0;

}
.subject-new-message:before{
    font-size: 30px !important;
}
.message-read{
    color: #9FCCAC !important;
}
.addSubjectInput{
    width: 100%;
    padding: 50px 15px 15px 15px;
    margin-left: 0px;
    margin-right: 0px
}
.cardSubTitle{
   /* color: #000; */
font-weight: normal;
    font-family: "Helvetica Neue", "Roboto", sans-serif;
    line-height: 1.2;
    font-size: initial;
    padding-left: 5px;
}
.filterIcon {
    min-width: auto !important;
    min-height: auto !important;
    height: 40px !important;
    width: 40px !important;
    background-color: #1C5896 !important;
}
.filterIcon i{
    top: 5px;
    left: 11px;
    position: absolute;
    font-size: 1.5rem !important;
}
ion-header-bar .filterHeader.title{
    text-align: center !important;
    margin-right: 22px !important;
    top: 23% !important;
}
.custom-has-expanded-header {
    top: 75px!important;
}
.new-Messages-dot{
    display: inline !important;
    position: absolute !important;
    top: 5px !important;
    right: -2px !important;
    color: red !important;
}
.new-Messages-dot:before{
    font-size: 14px !important;
}
.ion-checkmark:before{
    color: white !important;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #1C5896;
    border-color: #1C5896;
}
.toggle.toggle-assertive input:checked + .track {
    border-color: #1C5896;
    background-color: #1C5896;
}
.ion-checkmark:before {
    content: "\f122";
    color: #1C5896;
}
.bar.bar-stable.bar-footer{
    height: 54px !important;
}
.has-footer{
    bottom: 54px !important;
}
.ion-android-send{
    font-size: 23px !important;
}
.platform-android .bar .title{
    width: 80% !important;
}
.chat-profile-image{
    width: 36px;
    border-radius: 20px;
}
.chat-profile-details{
    position: absolute;
    top: 0;
    left: 17%;
}
.chat-profile-details span{
    font-size: 15px;
}
.online-offline{
    left: 6px;
    font-size: 16px !important;
}
.online-circle{
    color: #8bc79d !important;
}
.offline-circle{
    color: #C3C3C3 !important;

}